# =========================================================================
# CONFIGURACIÓN LOCAL DE DESARROLLO 
# =========================================================================

# Perfil de Spring (dev o prod)
SPRING_PROFILES_ACTIVE=dev

# Base de datos (Perfil DEV)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=casaKetteler
DB_USERNAME=root
DB_PASSWORD=root

# Configuración de Correo (Gmail)
MAIL_USERNAME=tu_correo_real@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion_de_16_digitos

# Seguridad JWT
JWT_SECRET=1cpfzf46YKgKshiXQoNM4ohBTWXVIsZmgOShD7SIEoXQdXTiDdsn5IoV12DY3oRV

# Rutas de almacenamiento locales (Ajusta a tus rutas si usas Windows)
APP_STORAGE_PATH=C:/Users/yerry/Documents/Ingenieria de Software/BackendCasaKetteler/ProjectCasaKetteler/storage
APP_TEMP_PATH=C:/Users/yerry/Documents/Ingenieria de Software/BackendCasaKetteler/ProjectCasaKetteler/temp

# CORS dinámico (Aquí incluyes tu IP LAN de Ethernet para pruebas con celular)
CORS_ALLOWED_ORIGINS=http://localhost:4200,capacitor://localhost,http://localhost,http://192.168.101.3:4200,http://192.168.101.3